---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import BackToPrevious from "@components/BackToPrevious.astro";
import { SITE } from "@consts";
import { render } from "astro:content";
import { Content,frontmatter } from "@content/personal/resume.mdx";
---

<Layout title={frontmatter.title} description={frontmatter.description} >
    <Container>
        <div class="flex flex-col gap-4">
            <span class="animate flex flex-row justify-between gap-4 py-4">
                <BackToPrevious href="/">Go to home page</BackToPrevious>
                <button
                    id="resume-download"
                    class="group relative flex w-fit flex-nowrap rounded border border-black/15 px-3 py-1.5 transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20 dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white"
                    >download</button
                >
            </span>
            <!-- <div class="text-2xl font-bold">Resume</div> -->
            <div class="animate border p-4 rounded-lg" id="printable">
                <article>
                    <Content />
                </article>
            </div>
        </div>
    </Container>
</Layout>
