---
type Props = {
  title: string;
  list: Array<Array<string>>;
};

const { title, list } = Astro.props as Props;
---

<div
  class="group relative flex flex-1 flex-col flex-nowrap truncate rounded-lg border border-black/15 px-4 py-3 transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20 dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white"
>
  <div class="flex flex-col flex-wrap justify-between gap-y-4">
    <h2 class="font-semibold text-black dark:text-white">
      {title}
    </h2>
    <ul class="not-prose grid grid-cols-1 gap-4 md:grid md:grid-cols-3">
      {
        list.map((item, index) => (
          <li class="flex h-full flex-col">
            {
              <div class="flex flex-col items-center justify-center h-16 w-16">
                <Fragment set:html={item[0]} />
                <h2 class="font-medium text-black dark:text-white">
                  {item[1]}
                </h2>
              </div>
            }
          </li>
        ))
      }
    </ul>
  </div>
</div>
